Repository UKHO/dockerimages: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-win.yml, azure-pipelines.yml

azure-pipelines-win.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - win/*

pr:
  branches:
    include:
      - '*'
  paths:
    include:
      - win/*

schedules:
  - cron: '0 6 * * 1-5'
    displayName: 'Rebuild images for updates'
    branches:
      include:
        - main
    always: true

variables:
  - name: PoolNameWindows
    value: "Mare Nubium"
  - group: dockerhub

jobs:
  - job: 'buildwindows'
    timeoutInMinutes: 600
    condition: and(succeeded(), ne(variables['Build.SourceBranch'], 'refs/heads/main'))
    pool: $(PoolNameWindows)
    steps:
      - powershell: |
          Get-Service docker
          docker version
        displayName: running
      - powershell: |
          Invoke-Webrequest -Uri https://github.com/docker/buildx/releases/download/v0.23.0/buildx-v0.23.0.windows-arm64.exe -OutFile "C:\ProgramData\Docker\cli-plugins\docker-buildx.exe"
        displayName: install buildx
      - powershell: docker buildx bake --call build windows --progress=plain
        displayName: build
      
  - job: publishwindows
    timeoutInMinutes: 600
    pool: $(PoolNameWindows)
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))    
    steps:
      - powershell: |
          Get-Service docker
          docker version
        displayName: running
      - powershell: docker login -u $(DOCKER_REGISTRY_USERNAME) -p $(DOCKER_REGISTRY_PASSWORD)
        displayName: login
      - powershell: ./runner.ps1 -action "build"
        displayName: build
      - powershell: ./runner.ps1 -action "publish"
        displayName: publish

azure-pipelines.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - linux/*

pr:
  branches:
    include:
      - '*'
  paths:
    include:
      - linux/*

schedules:
  - cron: '0 6 * * 1-5'
    displayName: 'Rebuild images for updates'
    branches:
      include:
        - main
    always: true

variables:
  - name: PoolName
    value: "Mare Nectaris"
  - group: dockerhub


jobs:
  - job: 'lint'
    pool: $(PoolName)
    steps:
      - script: ./runner lint

  - job: 'build'
    timeoutInMinutes: 600
    condition: and(succeeded(), ne(variables['Build.SourceBranch'], 'refs/heads/main'))
    dependsOn: lint
    pool: $(PoolName)
    steps:
      - script: ./runner --linux build


  - job: 'publish'
    timeoutInMinutes: 600
    pool: $(PoolName)
    dependsOn:
      - 'lint'
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    steps:
      - script: docker login -u $(DOCKER_REGISTRY_USERNAME) -p $(DOCKER_REGISTRY_PASSWORD)     
      - script: ./runner --linux build publish

feat: add Dockerfile and installation script for UKHO Build & Deploy Tools
  win/ukho-oset-build-deploy-tools/Dockerfile
  win/ukho-oset-build-deploy-tools/README.md
  win/ukho-oset-build-deploy-tools/install-required-modules.ps1
Due: azure-pipelines-win.yml

feat: add oset-build-deploy-tools target to Docker bake configuration
  docker-bake.hcl
Due: none

docs: update README to clarify usage and module installation process
  win/ukho-oset-build-deploy-tools/README.md
Due: azure-pipelines-win.yml

feat: update base image to Windows Server Core LTSC 2022
  win/ukho-oset-build-deploy-tools/Dockerfile
Due: azure-pipelines-win.yml

feat: refactor oset-build-deploy-tools structure and update Dockerfile, README, and installation script
  docker-bake.hcl
  win/oset-build-deploy-tools/Dockerfile
  win/oset-build-deploy-tools/README.md
  win/oset-build-deploy-tools/install-required-modules.ps1
Due: azure-pipelines-win.yml

AWS Image updates
  linux/aws/Dockerfile
  linux/awscli/Dockerfile
Due: azure-pipelines.yml

Powershell image updates
  linux/powershell-azure-node-newman/Dockerfile
  linux/powershell-azure-node/Dockerfile
Due: azure-pipelines.yml

Docker image updates
  .pre-commit-config.yaml
  linux/aws/Dockerfile
  linux/awscli/Dockerfile
  linux/azure-devops/Dockerfile
  linux/azure/Dockerfile
  linux/dotnetcore80-zip/Dockerfile
  linux/jdk8-python38/Dockerfile
  linux/powershell-azure-node-newman/Dockerfile
  linux/powershell-azure-node/Dockerfile
  linux/terraform-azure/Dockerfile
  linux/terraform-powershell/Dockerfile
  linux/terraform/Dockerfile
Due: azure-pipelines.yml

Update config
  .pre-commit-config.yaml
Due: none

Update jdk image
  .pre-commit-config.yaml
  linux/jdk8-python38/Dockerfile
Due: azure-pipelines.yml

Isolate builds for testing
  docker-bake.hcl
Due: none

add another build
  docker-bake.hcl
Due: none

Add another image
  docker-bake.hcl
Due: none

add another image
  docker-bake.hcl
Due: none

Change build command due to hanging build
  azure-pipelines.yml
Due: none

Update broken dockerfiles
  linux/aws/Dockerfile
  linux/awscli/Dockerfile
Due: azure-pipelines.yml

Update groff dependency
  linux/aws/Dockerfile
  linux/awscli/Dockerfile
Due: azure-pipelines.yml

Add missing build containers
  azure-pipelines.yml
  docker-bake.hcl
Due: none

Fix missing targets
  docker-bake.hcl
Due: none

Remove no-cache var
  docker-bake.hcl
Due: none

Add debug
  azure-pipelines.yml
Due: none

Remove debug
  azure-pipelines.yml
Due: none

Add debug back
  azure-pipelines.yml
Due: none

Update build
  azure-pipelines.yml
Due: none

Update groups and build for smaller chunks
  azure-pipelines.yml
  docker-bake.hcl
Due: none

Update bake
  docker-bake.hcl
Due: none

Harden azure images
  azure-pipelines.yml
  linux/azure-devops/Dockerfile
  linux/azure/Dockerfile
Due: azure-pipelines.yml

Fix broken build
  linux/azure/Dockerfile
Due: azure-pipelines.yml
