Repository UKHO/dockerimages: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-win.yml, azure-pipelines.yml

azure-pipelines-win.yml:
  schedules:
  - cron: 0 6 * * 1-5
    displayName: Rebuild images for updates
    branches:
      include:
      - main
    always: true
  jobs:
  - job: buildwindows
    timeoutInMinutes: 600
    condition: and(succeeded(), ne(variables['Build.SourceBranch'], 'refs/heads/main'))
    pool: $(PoolNameWindows)
    steps:
  ...

azure-pipelines.yml:
  schedules:
  - cron: 0 6 * * 1-5
    displayName: Rebuild images for updates
    branches:
      include:
      - main
    always: true
  jobs:
  - job: lint
    pool: $(PoolName)
    steps:
    - script: ./runner lint
  - job: build
    timeoutInMinutes: 600
  ...

Update Dockerfile
  dependency-check/Dockerfile
Due: none

Update azure-pipelines-dependency-checker.yml for Azure Pipelines
  azure-pipelines-dependency-checker.yml
Due: none

Build nvd container with database intact (#92)
  azure-pipelines-dependency-checker.yml
  dependency-check/Dockerfile
Due: none

Adds SHELL command nvd container
  dependency-check/Dockerfile
Due: none

Add today date tag to push
  azure-pipelines-dependency-checker.yml
Due: none

update to python 3.13
  linux/jdk8-python312/Dockerfile
Due: azure-pipelines.yml

Add pure powershell image
  linux/powershell/Dockerfile
  linux/powershell/README.md
Due: azure-pipelines.yml

Remove vulnerable defunct images
  linux-archive/aardvarkcov/Dockerfile
  linux-archive/aardvarkcov/versions
  linux-archive/jdk8-python36-cov/Dockerfile
  linux-archive/jdk8-python36-cov/README.md
  linux-archive/jdk8-python36-cov/versions
  linux-archive/jdk8-python36/Dockerfile
  linux-archive/jdk8-python36/README.md
  linux-archive/jdk8-python36/gdal_calc.py
  linux-archive/mvn361-jdk8-cov/Dockerfile
  linux-archive/mvn361-jdk8-cov/README.md
  linux-archive/mvn361-jdk8-cov/versions
  linux-archive/node10-cov/Dockerfile
  win-archive/terraform-azure/Dockerfile
  win-archive/terraform-azure/versions
Due: none

Remove vulnerable defunct images (#94)
  linux-archive/aardvarkcov/Dockerfile
  linux-archive/aardvarkcov/versions
  linux-archive/jdk8-python36-cov/Dockerfile
  linux-archive/jdk8-python36-cov/README.md
  linux-archive/jdk8-python36-cov/versions
  linux-archive/jdk8-python36/Dockerfile
  linux-archive/jdk8-python36/README.md
  linux-archive/jdk8-python36/gdal_calc.py
  linux-archive/mvn361-jdk8-cov/Dockerfile
  linux-archive/mvn361-jdk8-cov/README.md
  linux-archive/mvn361-jdk8-cov/versions
  linux-archive/node10-cov/Dockerfile
  win-archive/terraform-azure/Dockerfile
  win-archive/terraform-azure/versions
Due: none

add azcopy
  linux/terraform-azure-powershell/Dockerfile
Due: azure-pipelines.yml

Update to all azure cli based containers
  linux/powershell-azure-node-newman/Dockerfile
  linux/powershell-azure-node/Dockerfile
  linux/terraform-azure-make/Dockerfile
  linux/terraform-azure-powershell-python-go/Dockerfile
  linux/terraform-azure-powershell-unzip/Dockerfile
  linux/terraform-azure/Dockerfile
Due: azure-pipelines.yml

Maintenance
  linux/dotnetcore31-zip/Dockerfile
  linux/dotnetcore60-zip/Dockerfile
  win/terraform/Dockerfile
  win/terraform/versions
Due: azure-pipelines-win.yml, azure-pipelines.yml

Update AWS images
  linux/aws/Dockerfile
  linux/aws/README.md
  linux/awscli/Dockerfile
  linux/awscli/README.md
Due: azure-pipelines.yml

Update AWS images (#96)
  linux/aws/Dockerfile
  linux/aws/README.md
  linux/awscli/Dockerfile
  linux/awscli/README.md
Due: azure-pipelines.yml

Update debian base image
  linux/azure-devops/Dockerfile
  linux/azure/Dockerfile
  linux/powershell-azure-node-newman/Dockerfile
  linux/powershell-azure-node/Dockerfile
  linux/terraform-azure-make/Dockerfile
  linux/terraform-azure-powershell-unzip/Dockerfile
  linux/terraform-azure-powershell/Dockerfile
  linux/terraform-azure/Dockerfile
  linux/terraform-powershell/Dockerfile
  linux/terraform/Dockerfile
Due: azure-pipelines.yml

Update NVM package
  linux/powershell-azure-node-newman/Dockerfile
Due: azure-pipelines.yml

Update debian base image (#97)
  linux/azure-devops/Dockerfile
  linux/azure/Dockerfile
  linux/powershell-azure-node-newman/Dockerfile
  linux/powershell-azure-node/Dockerfile
  linux/terraform-azure-make/Dockerfile
  linux/terraform-azure-powershell-unzip/Dockerfile
  linux/terraform-azure-powershell/Dockerfile
  linux/terraform-azure/Dockerfile
  linux/terraform-powershell/Dockerfile
  linux/terraform/Dockerfile
Due: azure-pipelines.yml

copies terraform-azure-powershell-python-go but without the python steps
  linux/terraform-azure-powershell-go/Dockerfile
  linux/terraform-azure-powershell-go/README.md
Due: azure-pipelines.yml

fixes docker build for go image
  linux/terraform-azure-powershell-go/Dockerfile
Due: azure-pipelines.yml

Adds Terraform-Azure-Powershell-Go container (#98)
  linux/terraform-azure-powershell-go/Dockerfile
  linux/terraform-azure-powershell-go/README.md
Due: azure-pipelines.yml

Add initial docker-bake file and update license
  LICENSE
  docker-bake.hcl
Due: none

Revert build file
  azure-pipelines.yml
Due: none

Update to build using bake file
  azure-pipelines.yml
  docker-bake.hcl
Due: none

Update image for build test
  linux/terraform-powershell/Dockerfile
Due: azure-pipelines.yml

Fix dockerfile to build
  linux/terraform-azure-powershell-python-go/Dockerfile
Due: azure-pipelines.yml

Remove as broken and no longer used by team
  docker-bake.hcl
  linux/esa-snap7-snappy/Dockerfile
  linux/esa-snap7-snappy/README.md
Due: azure-pipelines.yml

Fix linting issues
  linux/powershell-azure-node/Dockerfile
  linux/terraform-azure-make/Dockerfile
  linux/terraform-azure-powershell-unzip/Dockerfile
  linux/terraform-azure-powershell/Dockerfile
  linux/terraform-azure/Dockerfile
  linux/terraform-powershell/Dockerfile
  linux/terraform/Dockerfile
Due: azure-pipelines.yml

Remove references
  docker-bake.hcl
Due: none

Update readme
  README.md
  azure-pipelines-win.yml
Due: none

Fix linting on windows image
  win/terraform/Dockerfile
Due: azure-pipelines-win.yml, azure-pipelines.yml

Fix win build
  azure-pipelines-win.yml
Due: none

Update path
  azure-pipelines-win.yml
Due: none

Check buildx versions
  azure-pipelines-win.yml
Due: none

Install plugin
  azure-pipelines-win.yml
Due: none

revert windows changes
  azure-pipelines-win.yml
Due: none

Build cleanup (#99)
  LICENSE
  README.md
  azure-pipelines.yml
  docker-bake.hcl
  linux/esa-snap7-snappy/Dockerfile
  linux/esa-snap7-snappy/README.md
  linux/powershell-azure-node/Dockerfile
  linux/terraform-azure-make/Dockerfile
  linux/terraform-azure-powershell-python-go/Dockerfile
  linux/terraform-azure-powershell-unzip/Dockerfile
  linux/terraform-azure-powershell/Dockerfile
  linux/terraform-azure/Dockerfile
  linux/terraform-powershell/Dockerfile
  linux/terraform/Dockerfile
  win/terraform/Dockerfile
Due: azure-pipelines-win.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-win.yml: any of: win
  azure-pipelines.yml: any of: linux, win
