Repository UKHO/dockerimages: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-win.yml, azure-pipelines.yml

azure-pipelines-win.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - win/*

pr:
  branches:
    include:
      - '*'
  paths:
    include:
      - win/*

schedules:
  - cron: '0 6 * * 1-5'
    displayName: 'Rebuild images for updates'
    branches:
      include:
        - main
    always: true

variables:
  - name: PoolNameWindows
    value: "Mare Nubium"
  - group: dockerhub

jobs:
  - job: 'buildwindows'
    timeoutInMinutes: 600
    condition: and(succeeded(), ne(variables['Build.SourceBranch'], 'refs/heads/main'))
    pool: $(PoolNameWindows)
    steps:

      - powershell: docker version
        display: docker version
      - powershell: Get-Service docker
        display: docker running
      - powershell: ./runner.ps1 -action "build"
        displayName: build
      
  - job: publishwindows
    timeoutInMinutes: 600
    pool: $(PoolNameWindows)
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))    
    steps:
      - powershell: docker version
        display: docker version
      - powershell: Get-Service docker
        display: docker running
      - powershell: docker login -u $(DOCKER_REGISTRY_USERNAME) -p $(DOCKER_REGISTRY_PASSWORD)
        displayName: login
      - powershell: ./runner.ps1 -action "build"
        displayName: build
      - powershell: ./runner.ps1 -action "publish"
        displayName: publish

azure-pipelines.yml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - linux/*
      - win/*

pr:
  branches:
    include:
      - '*'
  paths:
    include:
      - linux/*
      - win/*

schedules:
  - cron: '0 6 * * 1-5'
    displayName: 'Rebuild images for updates'
    branches:
      include:
        - main
    always: true

variables:
  PoolName: "UKHO Ubuntu 1804"

jobs:
  - job: 'lint'
    pool: $(PoolName)
    steps:
      - script: ./runner lint

  - job: 'build'
    timeoutInMinutes: 600
    condition: and(succeeded(), ne(variables['Build.SourceBranch'], 'refs/heads/main'))
    dependsOn: lint
    pool: $(PoolName)
    steps:
      - task: UniversalPackages@0
        displayName: 'Universal download'
        inputs:
          command: download
          vstsFeed: 'ukhoget'
          vstsFeedPackage: 'cov-analysis-linux64-2019.12'
          vstsPackageVersion: 2019.12.0
          downloadDirectory: '$(Build.SourcesDirectory)/linux'
      - bash: |
          src='$(Build.SourcesDirectory)/linux/cov-analysis-linux64-2019.12.tar.gz'
          cp ${src} '$(Build.SourcesDirectory)/linux/aardvarkcov/cov-analysis-linux64-2019.12.tar.gz'
      - script: ./runner --linux build

  - job: 'publish'
    timeoutInMinutes: 600
    pool: $(PoolName)
    dependsOn:
      - 'lint'
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    steps:
      - script: docker login -u $(DOCKER_REGISTRY_USERNAME) -p $(DOCKER_REGISTRY_PASSWORD)
      - task: UniversalPackages@0
        displayName: 'Universal download'
        inputs:
          command: download
          vstsFeed: 'ukhoget'
          vstsFeedPackage: 'cov-analysis-linux64-2019.12'
          vstsPackageVersion: 2019.12.0
          downloadDirectory: '$(Build.SourcesDirectory)/linux'
      - bash: |
          src='$(Build.SourcesDirectory)/linux/cov-analysis-linux64-2019.12.tar.gz'
          cp ${src} '$(Build.SourcesDirectory)/linux/aardvarkcov/cov-analysis-linux64-2019.12.tar.gz'         
      - script: ./runner --linux build publish

Update versions
  win/terraform/versions
Due: azure-pipelines-win.yml, azure-pipelines.yml

Check if isfile
  runnerwin.py
Due: none

get current directory for path
  runnerwin.py
Due: none

import os
  runnerwin.py
Due: none

open file for version
  runnerwin.py
Due: none

open file and read lines
  runnerwin.py
Due: none

more indents
  runnerwin.py
Due: none

file.read().splitlines()
  runnerwin.py
Due: none

terraform windows 1.5.5 (#78)
  runnerwin.py
  win/terraform/Dockerfile
  win/terraform/versions
Due: azure-pipelines-win.yml, azure-pipelines.yml

set base to ltsc2022
  win/terraform/Dockerfile
Due: azure-pipelines-win.yml, azure-pipelines.yml

ltsc2022-amd64
  win/terraform/Dockerfile
Due: azure-pipelines-win.yml, azure-pipelines.yml

Update Dockerfile
  win/terraform/Dockerfile
Due: azure-pipelines-win.yml, azure-pipelines.yml

Tf 1.6.2 (#79)
  win/terraform/Dockerfile
  win/terraform/versions
Due: azure-pipelines-win.yml, azure-pipelines.yml

Add newman dockerfile
  linux/newman/Dockerfile
Due: azure-pipelines.yml

Add newman dockerfile (#80)
  linux/newman/Dockerfile
Due: azure-pipelines.yml

Update Dockerfile
  linux/newman/Dockerfile
Due: azure-pipelines.yml

Update Dockerfile (#81)
  linux/newman/Dockerfile
Due: azure-pipelines.yml

Update Dockerfile for npm
  linux/newman/Dockerfile
Due: azure-pipelines.yml

push
  linux/powershell-azure-node/Dockerfile
  linux/powershell-azure-node/README.md
Due: azure-pipelines.yml

push (#82)
  linux/powershell-azure-node/Dockerfile
  linux/powershell-azure-node/README.md
Due: azure-pipelines.yml

create newman image
  linux/newman/Dockerfile
  linux/powershell-azure-node-newman/Dockerfile
  linux/powershell-azure-node-newman/README.md
Due: azure-pipelines.yml

Create node branch (#83)
  linux/newman/Dockerfile
  linux/powershell-azure-node-newman/Dockerfile
  linux/powershell-azure-node-newman/README.md
Due: azure-pipelines.yml

update newman image
  linux/powershell-azure-node-newman/Dockerfile
Due: azure-pipelines.yml

Create node branch (#84)
  linux/powershell-azure-node-newman/Dockerfile
Due: azure-pipelines.yml

azureless terraform and powershell image
  linux/terraform-powershell/Dockerfile
  linux/terraform-powershell/README.md
  linux/terraform-powershell/versions
Due: azure-pipelines.yml

azureless terraform and powershell image (#85)
  linux/terraform-powershell/Dockerfile
  linux/terraform-powershell/README.md
  linux/terraform-powershell/versions
Due: azure-pipelines.yml

Terraform on windows 1.8.5 (#86)
  win/terraform/Dockerfile
  win/terraform/versions
Due: azure-pipelines-win.yml, azure-pipelines.yml

Creates Dockerfile for sdk8 on linux
  linux/dotnetcore80-zip/Dockerfile
Due: azure-pipelines.yml

adding microsoft public key
  linux/terraform-powershell/Dockerfile
Due: azure-pipelines.yml

No core for 8
  linux/dotnetcore80-zip/Dockerfile
Due: azure-pipelines.yml

Fix newman at 5.3.2
  linux/powershell-azure-node-newman/Dockerfile
Due: azure-pipelines.yml

Fix newman at 5.3.2 (#87)
  linux/powershell-azure-node-newman/Dockerfile
Due: azure-pipelines.yml

first push
  linux/powershell-azure-node-newman-trivy/Dockerfile
  linux/powershell-azure-node-newman-trivy/README.md
Due: azure-pipelines.yml

first push (#88)
  linux/powershell-azure-node-newman-trivy/Dockerfile
  linux/powershell-azure-node-newman-trivy/README.md
Due: azure-pipelines.yml

Rename Dockerfile to Dockerfile
  linux-archive/dotnetcore31-zip/Dockerfile
Due: none

Rename Dockerfile to Dockerfile
  linux-archive/dotnetcore60-zip/Dockerfile
Due: none
